<md-card>
    <md-toolbar style="background-color: transparent;">
        <div class="md-toolbar-tools">
            <h5>{{filter.alias}}</h5>
            <span flex></span>
            <md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="SF.moveUp(current.dataGroup.filters[current.selectionIndex], filter)">
                            <md-icon md-svg-icon="assets/icons/md-arrow-up.svg"></md-icon>
                            Move Data Filter Up
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="SF.moveDown(current.dataGroup.filters[current.selectionIndex], filter)">
                            <md-icon md-svg-icon="assets/icons/md-arrow-down.svg"></md-icon>
                            Move Data Filter Down
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="showOperations($event)">
                            <md-icon md-svg-icon="assets/icons/md-settings.svg"></md-icon>
                            Data Filter Settings
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="SF.deleteElement(current.dataGroup.filters[current.selectionIndex], filter)">
                            <md-icon md-svg-icon="assets/icons/md-delete.svg"></md-icon>
                            Delete Data Filter
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-card-content>
        <md-input-container flex ng-click="showSelect($event)" style="margin-bottom: 0;">
            <label>Equal</label>
            <input type="text" ng-model="filter.formatedModel" />
        </md-input-container>
    </md-card-content>
</md-card>