<md-card>
    <md-toolbar style="background-color: transparent;">
        <div class="md-toolbar-tools">
            <h5>{{selection.alias}}</h5>
            <span flex></span>
            <md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="SF.moveUp(current.selectionLevel, selection, $index)">
                            <md-icon md-svg-icon="assets/icons/md-arrow-up.svg"></md-icon>
                            Move Data Selection Up
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="SF.moveDown(current.selectionLevel, selection, $index)">
                            <md-icon md-svg-icon="assets/icons/md-arrow-down.svg"></md-icon>
                            Move Data Selection Down
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="showOperations($event, selection)">
                            <md-icon md-svg-icon="assets/icons/md-settings.svg"></md-icon>
                            Data Selection Settings
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="SF.deleteElement(current.selectionLevel, selection, $index)">
                            <md-icon md-svg-icon="assets/icons/md-delete.svg"></md-icon>
                            Delete Data Selection
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </md-toolbar>
    <md-card-content style="padding: 0">
        <md-list style="padding: 0;" class="md-dense">
            <md-list-item ng-show="selection.order">
                <md-radio-group layout="row" ng-model="selection.orderValue" flex>
                    <md-radio-button value="asc" flex="50">Ascending</md-radio-button>
                    <md-radio-button value="desc" flex="50">Descending</md-radio-button>
                </md-radio-group>
            </md-list-item>
            <md-list-item ng-show="selection.aggregateFunction">
                <md-input-container flex>
                    <label>Function</label>
                    <md-select md-on-close="" ng-model="selection.aggregateFunctionValue">
                        <md-option value="count">Count</md-option>
                        <md-option value="sum">Sum</md-option>
                        <md-option value="avg">Average</md-option>
                        <md-option value="min">Min</md-option>
                        <md-option value="max">Max</md-option>
                    </md-select>
                </md-input-container>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>