<section layout="row">
    <md-toolbar class="site-content-toolbar">
        <div class="md-toolbar-tools">
            <md-button href="#/platform-home/product-lines">
                <img src="assets/images/M.svg" style="width:100px;" />
            </md-button>
            <span class="md-toolbar-item md-breadcrumb md-headline">{{name}}</span>

            <md-icon md-svg-src="assets/icons/md-chevron-right.svg" class="breadcrumb-arrow"></md-icon>

            <md-menu>
                <span class="md-toolbar-item md-breadcrumb md-headline" ng-click="$mdOpenMenu($event)">Reporting</span>
                <md-menu-content>
                    <md-menu-item ng-click="null" style="cursor: pointer">
                        <span class="md-toolbar-item md-breadcrumb md-headline">Reporting</span>
                    </md-menu-item>
                    <md-menu-item ng-click="newState('analysis.view', { viewName: 'component'});" style="cursor: pointer">
                        <span class="md-toolbar-item md-breadcrumb md-headline">Analysis</span>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>


            <span flex></span>

            <md-button>
                Right Bar Button
            </md-button>
        </div>
    </md-toolbar>
</section>