<ng-include src="'core-components/reporting/templates/siteToolbar.html'"></ng-include>

<section layout="row" style="height: calc(100vh - 60px);">
    


    <div flex style="background-color: white">
        <div layout="column" layout-fill>

            <ng-include src="'core-components/analysis/templates/menuBar.html'"></ng-include>

            <div flex style="padding-top:10px; overflow-y: auto; min-width: 1000px;">
                <!--MAIN CONTENT AREA HERE - GRIDSTER-->

            </div>

        </div>
    </div>

</section>