<ng-include src="'core-components/reporting/templates/siteToolbar.html'"></ng-include>

<section layout="row" style="height: calc(100vh - 60px);">

    <md-sidenav md-component-id="panelFilters" class="map-gray-1 md-sidenav-left" md-whiteframe="4" md-is-locked-open="true" flex>
        <md-subheader class="md-primary">Report</md-subheader>
        <md-list style="padding:0">
            <md-list-item class="md-2-line" ng-click="showReport($event)">
                <div class="md-list-item-text" style="padding-top: 4px;">
                    <span class="md-headline">{{currentReport}}</span>
                    <p class="md-primary">Default Category</p>
                </div>
            </md-list-item>
        </md-list>
        <md-subheader class="md-primary">Data Filters</md-subheader>
        <md-content class="map-gray-1">
            <cohort-selection></cohort-selection>
        </md-content>
    </md-sidenav>

    <div flex style="background-color: white">
        <div layout="column" layout-fill>

            <ng-include src="'core-components/analysis/templates/menuBar.html'"></ng-include>

            <div flex style="padding-top:10px; overflow-y: auto; min-width: 1000px;">
                <!--MAIN CONTENT AREA HERE - GRIDSTER-->

            </div>

        </div>
    </div>

</section>