#diagram {
  position: relative;
}

.diagram {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}

.innerw {
  left: 0px;
  top: 0px;
  overflow: hidden;
  position: absolute;
  /* border: solid; */
  z-index: 20;
  /* transform: translateZ(10px); */
  pointer-events: none;
}

.innerw2 {
  margin-left: 0px;
  top: 0px;
  overflow: hidden;
  position: static;
  /* border: solid; */
  /* z-index: 20; */
  pointer-events: none;
}

.innerw3 {
  margin-left: 100px;
  top: 0px;
  overflow: hidden;
  position: static;
  /* border: solid; */
  /* z-index: 20; */
  pointer-events: none;
}

.inner {
  margin-left: -50px;
  margin-top: 87px;
  background-color: rgb(200,200,200);
  z-index: 20;
  position: static;
  pointer-events: auto;
}



.mwrap {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.mwrap2 {
  position: static;
  margin-left: 0px;
  margin-top: 0px;
  overflow: hidden;
  pointer-events: none;
}

.mid {
  position: static;
  pointer-events: auto;
}

#midaw1 {
  left: 0px;
  top: 0px;
}

#mida {
  margin-left: 100px;
  margin-top: 0px;
}

#midbw1 {
  left: 100px;
  top: 0px;
}

#midb {
  margin-left: -50px;
  margin-top: 87px;
}

#midcw1 {
  left: 50px;
  top: 87px;
}

#midc {
  margin-left: -50px;
  margin-top: -87px;
}

.mid {
  background-color: rgb(220,220,220);
  z-index: 15;
}



#outer1 {
  left: 0px;
  top: 0px;
}

#outer2 {
  left: 100px;
  top: 0px;
}

#outer3 {
  left: 50px;
  top: 87px;
}

.outer {
  background-color: rgb(240,240,240);
  z-index: 1;
}


.diagram-label {
  z-index: 100;
  position: absolute;
  font-weight: 500;
  color: rgb(75,75,75);
}

.diagram-selected {
  background-color: rgba(92, 153, 255, 1);
  color: white;
}
