<section layout="row" style="height: calc(100vh - 60px);">
    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'left'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>

    <div flex class="map-gray-3">
        <div layout="column" layout-fill>

            <ng-include src="'core-components/analysis/templates/menuBar.html'"></ng-include>

            <div flex style="padding-top:10px; overflow-y: auto; min-width: 1000px;">
                <!--MAIN CONTENT AREA HERE - GRIDSTER-->
                <div gridster="gridsterOpts">
                    <ul>
                        <li gridster-item="element" ng-repeat="element in currentCanvas.canvasElements" style="background-color: #ffffff;">
                            <!--<directive-generator name="{{$parent.element.type}}" attributes="{data: '$parent.group.data.result', element: '$parent.element'}"></directive-generator>-->
                            <span ng-click="changeOptions(element)">OPTION CHANGE</span>
                            <hc-chart canvas-element="element" data="chartData"></hc-chart>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="map-gray-2">
                <!--<md-tabs md-align-tabs="bottom" class="ink-bar-top">
                    <md-tab ng-repeat="canvas in canvases" md-on-select="changeCanvas(canvas)">{{canvas.name}}</md-tab>
                </md-tabs>-->
                <div style="height:41px; border-top: 1px solid rgb(225,225,225);">
                    <md-menu-bar class="map-gray-1">
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Canvas: <strong>{{currentCanvas.name}}</strong></button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="canvas in canvases">
                                    <md-button ng-click="changeCanvas(canvas)">
                                        {{canvas.name}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Data Group: <strong>Data Group 1</strong></button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('share', $event)">
                                        Data Group 1
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Data Selection Level: <strong>Level 1 (Region)</strong></button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('share', $event)">
                                        Level 1 (Region)
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </div>
            </div>
        </div>
    </div>

    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'right'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>
</section>