<section layout="row" style="height: calc(100vh - 60px);">
    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'left'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>

    <div flex class="map-gray-3">
        <div layout="column" layout-fill>

            <ng-include src="'core-components/analysis/templates/menuBar.html'"></ng-include>

            <div flex style="padding-top:10px; overflow-y: auto; min-width: 1000px;">
                <!--MAIN CONTENT AREA HERE - GRIDSTER-->
                <div gridster="gridsterOpts">
                    <ul>
                        <li gridster-item="element" ng-repeat="element in currentCanvas.canvasElements" style="background-color: #ffffff;">
                            <directive-generator name="{{$parent.element.type}}" attributes="{data: '$parent.currentCanvas.dataGroups[0]', element: '$parent.element'}"></directive-generator>
                            <!--<hc-chart canvas-element="element" data="chartData"></hc-chart>-->

                        </li>
                    </ul>
                </div>
            </div>

            <div class="map-gray-2">
                <!--<md-tabs md-align-tabs="bottom" class="ink-bar-top">
                    <md-tab ng-repeat="canvas in canvases" md-on-select="changeCanvas(canvas)">{{canvas.name}}</md-tab>
                </md-tabs>-->
                <div style="height:41px; border-top: 1px solid rgb(225,225,225);">
                    <md-menu-bar class="map-gray-1">
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Canvas: <strong>{{currentCanvas.name}}</strong></button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="canvas in canvases">
                                    <md-button ng-click="changeCanvas(canvas)">
                                        {{canvas.name}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Data Group: <strong>{{currentDataGroup.name}}</strong></button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="dataGroup in currentCanvas.dataGroups">
                                    <md-button ng-click="changeDataGroup(dataGroup)">
                                        {{dataGroup.name}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="moveDataSelectionDown($index)">
                                        <md-icon md-svg-icon="assets/icons/md-settings.svg"></md-icon>
                                        Control Panel
                                    </md-button>
                                </md-menu-item> 
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Data Selection Level: <span ng-show="currentSelectionLevel"><strong>Level {{currentSelectionIndex + 1}} ({{currentDataGroup.drillDown[currentSelectionIndex]}})</strong></span></button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="level in currentDataGroup.drillDown track by $index">
                                    <md-button ng-click="changeSelectionLevel(currentDataGroup.selections[$index], $index)">
                                        Level {{$index + 1}} ({{level}})
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="moveDataSelectionDown($index)">
                                        <md-icon md-svg-icon="assets/icons/md-settings.svg"></md-icon>
                                        Control Panel
                                    </md-button>
                                </md-menu-item> 
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Canvas Element: <span ng-show="true"><strong>{{currentCanvasElement.name}}</strong></span></button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="element in currentCanvas.canvasElements">
                                    <md-button ng-click="changeCanvasElement(element)">
                                        {{element.name}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="moveDataSelectionDown($index)">
                                        <md-icon md-svg-icon="assets/icons/md-settings.svg"></md-icon>
                                        Control Panel
                                    </md-button>
                                </md-menu-item>                                
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </div>
            </div>
        </div>
    </div>

    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'right'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>
</section>