<md-sidenav md-component-id="panelElement" ng-class="{'md-sidenav-right' : panel.side === 'right', 'md-sidenav-left' : panel.side === 'left'}" class="map-gray-1" md-whiteframe="4" md-is-locked-open="panel.lock" flex>
    <md-toolbar class="">
        <div class="md-toolbar-tools">
            <h2>
                <span>Element Controls</span>
            </h2>
            <span flex></span>
            <!--<md-button class="md-icon-button" aria-label="Menu">
                <md-icon md-svg-icon="assets/icons/lock2.svg"></md-icon>
            </md-button>-->
        </div>
    </md-toolbar>
    <md-fab-toolbar md-direction="left" style="margin-top:-67px;">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary md-no-shadow">
                <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="dock" class="md-icon-button" ng-click="panel.lock = !panel.lock">
                    <!--<md-tooltip md-direction="bottom">
                        Dock Panel
                    </md-tooltip>-->
                    <md-icon md-svg-icon="assets/icons/md-lock-outline.svg"></md-icon>
                </md-button>
                <md-button aria-label="right" class="md-icon-button" ng-click="panel.side = 'right'">
                    <!--<md-tooltip md-direction="bottom">
                        Dock Right
                    </md-tooltip>-->
                    <md-icon md-svg-icon="assets/icons/md-arrow-right.svg"></md-icon>
                </md-button>
                <md-button aria-label="left" class="md-icon-button" ng-click="panel.side = 'left'">
                    <!--<md-tooltip md-direction="bottom">
                        Dock Left
                    </md-tooltip>-->
                    <md-icon md-svg-icon="assets/icons/md-arrow-left.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

    <md-content class="map-gray-1">
            <md-list class="mdo-listitem-padding" ng-show="currentDataGroup">
                <md-list-item>
                    <md-input-container>
                        <input ng-model="currentCanvasElement.name"></input>
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container style="width: 100%">
                        <label>Data Group Association</label>
                        <md-select ng-model="currentCanvasElement.dataGroup">
                            <md-option ng-value="null"><em>None</em></md-option>
                            <md-option ng-repeat="dataGroup in currentCanvas.dataGroups" ng-value="dataGroup">
                                {{dataGroup.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>
            </md-list>

    </md-content>
</md-sidenav>