<md-sidenav md-component-id="panelElement" ng-class="{'md-sidenav-right' : panel.side === 'right', 'md-sidenav-left' : panel.side === 'left'}" class="map-gray-1" md-whiteframe="4" md-is-locked-open="panel.lock" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Element Controls</h2>
            <span flex></span>
            <md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button aria-label="dock" ng-click="panel.lock = !panel.lock">
                            <md-icon md-svg-icon="assets/icons/md-lock-outline.svg"></md-icon>
                            Dock/Undock Panel
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="panel.side = 'right'">
                            <md-icon md-svg-icon="assets/icons/md-arrow-right.svg"></md-icon>
                            Show on Right
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="panel.side = 'left'">
                            <md-icon md-svg-icon="assets/icons/md-arrow-left.svg"></md-icon>
                            Show on Left
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <md-content class="map-gray-1" ng-show="current.canvasElement">
        
        <div ng-switch on="current.canvasElement.type">
            <div ng-switch-when="hc-Chart">
                <ng-include src="'core-components/analysis/templates/canvasElementChart.partial.html'"></ng-include>
            </div>
            <div ng-switch-when="selection-control">
                <ng-include src="'core-components/analysis/templates/canvasElementSelectionControl.partial.html'"></ng-include>
            </div>
        </div>

    </md-content>
</md-sidenav>