<ng-include src="'core-components/analysis/templates/menuBar.html'"></ng-include>
<section layout="row" style="height: calc(100vh - 100px); background-color: white">

    <!--DASHBOARD COMPONENTS-->
    <div layout="column" flex="20">
        <md-subheader style="background-color: rgb(245,245,245)">Dashboard Components</md-subheader>
        <md-content style="background-color: white;">
            <md-list flex>
                <md-list-item ng-repeat="dashboardComponent in dashboardComponents.components" ng-class="{'listItem-active' : dashboardComponent.component === dashboardComponents.selection}" ng-click="dashboardComponent.action(dashboardComponent.component, DSO); currentDashboardComponent = $index;">
                    <md-icon md-svg-src="{{dashboardComponent.icon}}" aria-label="component"></md-icon>
                    <p>{{dashboardComponent.text}}</p>
                </md-list-item>
            </md-list>
            <!--Dashboard Actions-->
            <md-divider flex="75"></md-divider>
            <md-subheader class="md-primary" style="background-color: transparent">Dashboard Actions</md-subheader>
            <md-list>
                <md-list-item ng-repeat="dashboardAction in dashboardComponents.actions | filter: {component: dashboardComponents.selection} : true" ng-click="dashboardAction.action(dashboardAction.component)">
                    <md-icon md-svg-src="{{dashboardAction.icon}}" aria-label="action"></md-icon>
                    <p>{{dashboardAction.text}}</p>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <!--COMPONENT LIST-->
    <div layout="column" flex="35">
        <md-subheader style="background-color: rgb(245,245,245)">Component List</md-subheader>
        <md-content style="background-color: white;">
            <section ng-repeat="component in componentList.components track by $index">
                <md-subheader class="md-accent" style="background-color: transparent">{{component.header}}</md-subheader>
                <md-list flex class="mdo-listitem-padding">
                    <md-list-item ng-repeat="childComponent in component.children track by $index" class="md-3-line" ng-click="null" ng-class="{'listItem-active-accent' : childComponent.GUID === componentProperties.editObject.GUID}">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{childComponent.name}}</h3>
                            <h4>{{childComponent.roleType}}</h4>
                            <h4>{{childComponent.source.alias}}</h4>
                            <h4>{{childComponent.type}}</h4>
                            <p class="md-primary">{{childComponent.GUID}}</p>
                        </div>
                        <md-button ng-repeat="componentAction in componentList.actions track by $index" class="md-secondary md-icon-button md-seconday-icon-override" ng-click="componentAction.action(childComponent, component.children, component.parentObject)">
                            <md-tooltip md-direction="bottom">{{componentAction.tooltip}}</md-tooltip>
                            <md-icon md-svg-src="{{componentAction.icon}}" aria-label="action"></md-icon>
                        </md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
    </div>

    <!--COMPONENT PROPERTIES-->
    <div layout="column" flex="45" style="background-color: rgb(245,245,245)">
        <md-subheader style="background-color: rgb(245,245,245)">Component Properties</md-subheader>
        <md-subheader ng-show="componentProperties.editType === 'new'" style="background-color: rgb(139, 195, 74); color: white;">New</md-subheader>
        <md-subheader ng-show="componentProperties.editType === 'existing'" style="background-color: rgb(68, 138, 255); color: white;">Edit</md-subheader>
        <md-content layout-padding style="background-color: transparent; padding: 0 50px;">
            <div ng-show="componentProperties.editType !== null">
                <form name="componentForm" ng-submit="componentProperties.saveEdit($event)">
                    <div ng-switch on="dashboardComponents.selection">
                        <div ng-switch-when="canvas">
                            <ng-include src="'core-components/analysis/templates/canvasForm.partial.html'"></ng-include>
                        </div>
                        <div ng-switch-when="dataGroup">
                            <ng-include src="'core-components/analysis/templates/dataGroupForm.partial.html'"></ng-include>
                        </div>
                        <div ng-switch-when="canvasElement">
                            <ng-include src="'core-components/analysis/templates/canvasElementForm.partial.html'"></ng-include>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex></div>
                        <md-button ng-click="componentProperties.closeEdit()">Cancel</md-button>
                        <md-button type="submit">Save</md-button>
                    </div>
                    
                </form>
            </div>
        </md-content>
    </div>

</section>