<md-dialog-content style="max-height: 600px; ">
    <md-tabs md-dynamic-height>
        <md-tab label="Settings">
            <md-content class="md-padding" style="background-color: transparent;">
                <div layout="column">
                    <md-input-container style="height: 32px;">
                        <label>Data Value</label>
                        <input type="text" ng-model="filter.dataValue.COLUMN_NAME" disabled />
                    </md-input-container>
                    <md-input-container style="height: 32px;">
                        <label>Alias</label>
                        <input type="text" ng-model="filter.alias" />
                    </md-input-container>
                    <md-input-container>
                        <label>Filter Value Order</label>
                        <md-select md-on-close="orderChange()" ng-model="filter.orderValue">
                            <md-option value="null">Default</md-option>
                            <md-option value="asc">Ascending</md-option>
                            <md-option value="desc">Descending</md-option>
                        </md-select>
                    </md-input-container>                   
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Advanced">
            <md-content class="md-padding" style="background-color: transparent;">
                <div layout="column">
                    <md-list class="md-dense">
                        <md-list-item>
                            <p>Convert Value to Month Name</p>
                            <md-checkbox class="md-secondary" ng-model="filter.advanced.date.convertToMonth"></md-checkbox>
                        </md-list-item>
                        <!--<md-list-item ng-show="filter.advanced.date.convertToMonth">
                            <md-radio-group ng-model="filter.advanced.date.useShortMonth" layout="row">
                                <md-radio-button value="false">Long Name</md-radio-button>
                                <md-radio-button value="true">Short Name</md-radio-button>
                            </md-radio-group>
                        </md-list-item>-->
                    </md-list>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-dialog-content>