<md-dialog aria-label="List dialog" style="width: 1000px;">

    <md-toolbar md-scroll-shrink>
        <div ng-show="componentProperties.editType === 'new'" class="md-toolbar-tools">Data Filters</div>
        <div ng-show="componentProperties.editType === 'existing'" class="md-toolbar-tools" style="background-color: rgb(68, 138, 255);">Data Filters</div>
    </md-toolbar>
    <md-dialog-content>

        <section layout="row">
            <div layout="column" flex="45" style="min-height: 350px; padding-left: 15px;">
                <form name="dataFilterForm">
                    <md-subheader class="md-primary" style="background-color: transparent; margin-left: -15px;">Filter Settings</md-subheader>

                    <div layout="column">
                        <md-input-container>
                            <label>Filter Type</label>
                            <md-select ng-model="newFilter.model" placeholder="Filter Type" required>
                                <md-subheader>New</md-subheader>
                                <md-option ng-repeat="filter in filters" ng-value="filter">{{filter.name}}</md-option>
                                <md-subheader>Existing</md-subheader>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" ng-show="newFilter.model.type === 'custom-data-filter'">
                        <md-input-container>
                            <label>Data Value</label>
                            <md-select md-on-close="selectionChange()" ng-model="newFilter.dataValue" ng-required="newFilter.model === filters[0]">
                                <md-option ng-repeat="column in DO.tableSchema" ng-value="column">{{column.COLUMN_NAME}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container style="height: 32px;">
                            <label>Alias</label>
                            <input type="text" ng-model="newFilter.alias" />
                        </md-input-container>
                        <p ng-show="newFilter.operations.length > 0" style="font-size: 12px; padding-left: 2px; color: gray;">Operations</p>
                        <md-content style="max-height: 200px; background-color: transparent;">
                            <md-list>
                                <md-list-item ng-repeat="operation in newFilter.operations track by $index">
                                    {{operation.name}}
                                    <md-button class="md-secondary md-icon-button" ng-click="removeOperation($index)">
                                        <md-tooltip md-direction="clear">Clear Selection</md-tooltip>
                                        <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="action"></md-icon>
                                    </md-button>
                                </md-list-item>
                            </md-list>
                        </md-content>
                        <div layout="row">
                            <md-input-container flex="85">
                                <label>Operation</label>
                                <md-select md-on-close="" ng-model="selectedOperation">
                                    <md-option ng-repeat="operation in operations" ng-value="operation">{{operation.name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-button ng-disabled="!selectedOperation || !newFilter.dataValue" ng-click="addOperation()">Add</md-button>
                        </div>
                    </div>

                    <div layout="column">
                        <md-button ng-click="createFilter()" ng-disabled="componentProperties.editObject.filters.length === 0">Create Filter</md-button>
                    </div>
                </form>
            </div>

            <div flex></div>

            <div layout="column" flex="50">
                <md-subheader class="md-primary" style="background-color: transparent; margin-left: -15px;"">Levels & Filters</md-subheader>
                <section layout="column">
                    <md-input-container>
                        <label>Selection Level</label>
                        <md-select md-on-close="changeSelectionLevel()" ng-model="selectedLevel" style="margin-top: 0; margin-bottom: 0;">
                            <md-option ng-value="level" ng-repeat="level in componentProperties.editObject.selections">Level {{$index + 1}} <span ng-show="componentProperties.editObject.selections[$index][0].dataValue.COLUMN_NAME">[ {{componentProperties.editObject.selections[$index][0].dataValue.COLUMN_NAME}} ]</span></md-option>
                        </md-select>
                    </md-input-container>

                    <md-content class="inset" style="background-color: white;">
                        <md-list class="mdo-listitem-padding">
                            <md-list-item class="md-2-line" ng-click="null" ng-repeat="filter in componentProperties.editObject.filters[selectionIndex]">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{filter.alias}}</h3>
                                    <p class="md-primary">{{filter.dataValue.COLUMN_NAME}} <span ng-show="filter.operations.length > 0">[ <span ng-repeat="op in filter.operations">{{op.name}} </span>]</span></p>
                                </div>
                                <md-button class="md-secondary md-icon-button md-seconday-icon-override" ng-click="moveSelectionUp(componentProperties.editObject.filters[selectionIndex], filter, $index)">
                                    <md-tooltip md-direction="bottom">Move Up</md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-arrow-up.svg" aria-label="action"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button md-seconday-icon-override" ng-click="deleteSelection($index)">
                                    <md-tooltip md-direction="bottom">Clear</md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="action"></md-icon>
                                </md-button>
                                <md-divider ng-hide="$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </section>

            </div>
        </section>

    </md-dialog-content>

    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button ng-click="closeDialog()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>