<div layout="row">
    <md-input-container class="md-block md-accent" flex>
        <label>Data Group Name</label>
        <input value=" " ng-model="componentProperties.editObject.name" required>
    </md-input-container>
</div>
<div layout="row">
    <md-input-container class="md-block md-accent" flex>
        <label>GUID</label>
        <input ng-model="componentProperties.editObject.GUID" disabled>
    </md-input-container>
</div>
<div layout="column">
    <md-list class="mdo-listitem-padding">
        <md-list-item class="md-2-line" ng-click="null" ng-show="componentProperties.editObject.source.name !== null">
            <div class="md-list-item-text" layout="column">
                <h3>Data Source</h3>
                <h4>{{componentProperties.editObject.source.name}}</h4>
            </div>

            <md-button class="md-secondary md-icon-button md-seconday-icon-override" ng-click="showConfigureDataSource()">
                <md-tooltip md-direction="bottom">Edit</md-tooltip>
                <md-icon md-svg-src="assets/icons/md-edit.svg" aria-label="action"></md-icon>
            </md-button>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <md-list class="mdo-listitem-padding">
        <md-list-item class="md-2-line" ng-click="null" ng-show="componentProperties.editObject.selections.length > 0">
            <div class="md-list-item-text" layout="column">
                <h3>Data Selection</h3>
                <h4>{{componentProperties.editObject.selections[0][0].name}}</h4>
            </div>

            <md-button class="md-secondary md-icon-button md-seconday-icon-override" ng-click="showConfigureDataSelections()">
                <md-tooltip md-direction="bottom">Edit</md-tooltip>
                <md-icon md-svg-src="assets/icons/md-edit.svg" aria-label="action"></md-icon>
            </md-button>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</div>
<div layout="row">
    <md-list flex>
        <md-list-item ng-click="showConfigureDataSource()" ng-hide="componentProperties.editObject.source.name !== null">
            <md-icon md-svg-src="assets/icons/md-settings.svg" aria-label="component"></md-icon>
            <p>Select Data Source</p>
        </md-list-item>
        <md-list-item ng-click="showConfigureDataSelections()" ng-hide="componentProperties.editObject.selections.length > 0">
            <md-icon md-svg-src="assets/icons/md-settings.svg" aria-label="component"></md-icon>
            <p>Configure Data Selections</p>
        </md-list-item>
        <md-list-item ng-click="null">
            <md-icon md-svg-src="assets/icons/md-settings.svg" aria-label="component"></md-icon>
            <p>Configure Data Filters</p>
        </md-list-item>
    </md-list>
</div>


