<section layout="row" style="height: calc(100vh - 60px);">
    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'left'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>

    <div flex class="map-gray-3">
        <div layout="column" layout-fill>

            <ng-include src="'core-components/analysis/templates/menuBar.html'"></ng-include>

            <div flex style="padding-top:10px; overflow-y: auto; min-width: 1000px;">
                <!--MAIN CONTENT AREA HERE - GRIDSTER-->
                <div gridster="dataViewOptions">
                    <ul>
                        <li gridster-item="item" ng-repeat="datas in dataGroupData" style=" border: 1px solid rgb(150,150,150)">
                            <table class="table table-striped">
                                <tr ng-repeat="row in datas.result">
                                    <td ng-repeat="cell in row">{{cell}}</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="map-gray-2">
                <div style="height:41px; border-top: 1px solid rgb(225,225,225);">
                    <md-menu-bar class="map-gray-1">
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Canvas: <strong>{{current.canvas.name}}</strong></button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="canvas in canvases">
                                    <md-button ng-click="setCanvas(canvas, current)">
                                        {{canvas.name}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Data Group: <strong>{{current.dataGroup.name}}</strong></button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="dataGroup in current.canvas.dataGroups">
                                    <md-button ng-click="setDataGroup(dataGroup, current)">
                                        {{dataGroup.name}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="moveDataSelectionDown($index)">
                                        <md-icon md-svg-icon="assets/icons/md-settings.svg"></md-icon>
                                        Control Panel
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Data Selection Level: <span ng-show="current.selectionLevel"><strong>Level {{current.selectionIndex + 1}} [ {{current.dataGroup.selections[current.selectionIndex][0].dataValue.COLUMN_NAME}} ]</strong></span></button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="level in current.dataGroup.selections track by $index">
                                    <md-button ng-click="setSelectionLevel(level, $index, current)">
                                        Level {{$index + 1}} <span ng-show="current.dataGroup.selections[$index][0].dataValue.COLUMN_NAME">[ {{current.dataGroup.selections[$index][0].dataValue.COLUMN_NAME}} ]</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="moveDataSelectionDown($index)">
                                        <md-icon md-svg-icon="assets/icons/md-settings.svg"></md-icon>
                                        Control Panel
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">Canvas Element: <span ng-show="true"><strong>{{current.canvasElement.name}}</strong></span></button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="element in current.canvas.canvasElements">
                                    <md-button ng-click="current.canvasElement = element">
                                        {{element.name}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="moveDataSelectionDown($index)">
                                        <md-icon md-svg-icon="assets/icons/md-settings.svg"></md-icon>
                                        Control Panel
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </div>
            </div>

        </div>
    </div>

    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'right'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>
</section>