<md-sidenav md-component-id="panelData" ng-class="{'md-sidenav-right' : panel.side === 'right', 'md-sidenav-left' : panel.side === 'left'}" class="map-gray-1" md-whiteframe="4" md-is-locked-open="panel.lock" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Data Selection Controls</h2>
            <span flex></span>
            <md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button aria-label="dock" ng-click="panel.lock = !panel.lock">
                            <md-icon md-svg-icon="assets/icons/md-lock-outline.svg"></md-icon>
                            Dock/Undock Panel
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="panel.side = 'right'">
                            <md-icon md-svg-icon="assets/icons/md-arrow-right.svg"></md-icon>
                            Show on Right
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="panel.side = 'left'">
                            <md-icon md-svg-icon="assets/icons/md-arrow-left.svg"></md-icon>
                            Show on Left
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="build()">
                            <md-icon md-svg-icon="assets/icons/md-functions.svg"></md-icon>
                            Build
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>


    <md-content class="map-gray-1">

        <md-list class="md-dense" ng-show="current.dataGroup">
            <md-list-item>
                <p> Auto Query </p>
                <md-checkbox class="md-secondary" ng-model="autoQuery"></md-checkbox>
            </md-list-item>
            <md-list-item>
                <p> Aggregate Query </p>
                <md-checkbox class="md-secondary" ng-model="current.dataGroup.aggregation.enabled"></md-checkbox>
            </md-list-item>
            <md-list-item>
                <p> Paginate Query </p>
                <md-checkbox class="md-secondary" ng-model="current.dataGroup.pagination.enabled"></md-checkbox>
            </md-list-item>
            <md-list-item ng-show="current.dataGroup.pagination.enabled">
                <md-slider-container flex>
                    <span>Range</span>
                    <md-slider flex min="10" max="500" ng-model="current.dataGroup.pagination.range">
                    </md-slider>
                    <md-input-container style="max-width: 50px;">
                        <input flex type="number" ng-model="current.dataGroup.pagination.range">
                    </md-input-container>
                </md-slider-container>
            </md-list-item>
        </md-list>

        <p style="margin: 0 0 -5px 15px; font-size: 12px; color: rgba(92, 153, 255, 1); font-weight: 700;" ng-show="current.dataGroup.aggregation.enabled">Grouping</p>
        <div ng-repeat="selection in current.dataGroup.selections[current.selectionIndex] track by $index">
            <directive-generator name="{{selection.model.type}}" attributes="{ selection: '$parent.selection', current: '$parent.current', index: '$parent.$index'}"></directive-generator>
        </div>

        

        <div layout="column" style="padding: 0 20px">
            <md-autocomplete md-selected-item="dataAuto.selectedValue"
                             md-search-text="dataAuto.searchText"
                             md-items="value in filterResults(dataAuto.searchText)"
                             md-item-text="value.COLUMN_NAME"
                             md-floating-label="New Data Selection"
                             md-selected-item-change="selectionAutoChanged(value)">
                <md-item-template>{{value.COLUMN_NAME}}</md-item-template>
            </md-autocomplete>
        </div>

    </md-content>
</md-sidenav>