<md-dialog aria-label="List dialog" style="width: 500px;">
    <form name="dataFilterForm">

        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">Filter [ {{filter.alias}} ]</div>
        </md-toolbar>

        <!-- DOM switch for different types of filters-->
        <div ng-switch on="filter.model.type">
            <div ng-switch-when="custom-data-filter">
                <ng-include src="'core-components/analysis/templates/dataFilterSettingsCustom.partial.html'"></ng-include>
            </div>
            <div ng-switch-when="progressive-filter">
                <ng-include src="'core-components/analysis/templates/dataFilterSettingsProgressive.partial.html'"></ng-include>
            </div>
            <div ng-switch-when="combination-filter">
                <ng-include src="'core-components/analysis/templates/dataFilterSettingsCombination.partial.html'"></ng-include>
            </div>
        </div>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">
                Close
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>