<md-sidenav md-component-id="panelData" ng-class="{'md-sidenav-right' : panel.side === 'right', 'md-sidenav-left' : panel.side === 'left'}" class="map-gray-1" md-whiteframe="4" md-is-locked-open="panel.lock" flex>
    <md-toolbar class="">
        <div class="md-toolbar-tools">
            <h2>
                <span>Data Controls</span>
            </h2>
        </div>
    </md-toolbar>
    <md-fab-toolbar md-direction="left" style="margin-top:-67px;">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary md-no-shadow">
                <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="dock" class="md-icon-button" ng-click="panel.lock = !panel.lock">
                    <md-icon md-svg-icon="assets/icons/md-lock-outline.svg"></md-icon>
                </md-button>
                <md-button aria-label="right" class="md-icon-button" ng-click="panel.side = 'right'">
                    <md-icon md-svg-icon="assets/icons/md-arrow-right.svg"></md-icon>
                </md-button>
                <md-button aria-label="left" class="md-icon-button" ng-click="panel.side = 'left'">
                    <md-icon md-svg-icon="assets/icons/md-arrow-left.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>


    <md-content class="map-gray-1">
        <md-list class="md-dense" ng-show="current.dataGroup">
            <md-list-item>
                <p> Auto Query </p>
                <md-checkbox class="md-secondary" ng-model="autoQuery"></md-checkbox>
            </md-list-item>
            <md-list-item>
                <p> Aggregate Query </p>
                <md-checkbox class="md-secondary" ng-model="current.dataGroup.aggregation.enabled"></md-checkbox>
            </md-list-item>
            <md-list-item>
                <p> Paginate Query </p>
                <md-checkbox class="md-secondary" ng-model="current.dataGroup.pagination.enabled"></md-checkbox>
            </md-list-item>
            <md-list-item ng-show="current.dataGroup.pagination.enabled">
                <md-slider-container flex>
                    <span>Range</span>
                    <md-slider flex min="10" max="500" ng-model="current.dataGroup.pagination.range">
                    </md-slider>
                    <md-input-container style="max-width: 50px;">
                        <input flex type="number" ng-model="current.dataGroup.pagination.range">
                    </md-input-container>
                </md-slider-container>
            </md-list-item>
        </md-list>

        <md-card ng-repeat="selection in current.selectionLevel">
            <md-toolbar style="background-color: transparent;">
                <div class="md-toolbar-tools">
                    <h5 ng-show="selection.aggregation.alias">{{selection.aggregation.alias}} <span style="color: gray; font-weight: 400; font-size: 14px; font-style: italic;"> [{{selection.name}}]</span></h5>
                    <h5 ng-show="!selection.aggregation.alias">{{selection.name}}</h5>
                    <span flex></span>
                    <md-menu>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="moveDataSelectionUp($index)">
                                    <md-icon md-svg-icon="assets/icons/md-arrow-up.svg"></md-icon>
                                    Move Data Selection Up
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="moveDataSelectionDown($index)">
                                    <md-icon md-svg-icon="assets/icons/md-arrow-down.svg"></md-icon>
                                    Move Data Selection Down
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="showAggregateFunctions($event, selection)">
                                    <md-icon md-svg-icon="assets/icons/md-functions.svg"></md-icon>
                                    Data Functions
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <md-card-content style="padding: 0">
                <md-list style="padding: 0;" class="md-dense">
                    <md-list-item>

                    </md-list-item>
                </md-list>
            </md-card-content>
            <!--<p ng-repeat="op in selection.aggregation.operators">{{op.name}}</p>-->
        </md-card>

    </md-content>
</md-sidenav>