<md-dialog aria-label="List dialog" style="width: 600px;">

    <md-toolbar md-scroll-shrink>
        <div ng-show="componentProperties.editType === 'new'" class="md-toolbar-tools">Data Source</div>
        <div ng-show="componentProperties.editType === 'existing'" class="md-toolbar-tools" style="background-color: rgb(68, 138, 255);">Data Source</div>
    </md-toolbar>
    <md-dialog-content>
        <md-list>
            <md-subheader class="md-primary" style="background-color: transparent">Table</md-subheader>
            <md-list-item ng-click="setDataSource(source)" ng-repeat="source in SO.product.DataSources | filter: {SourceType : 'T'}">
                {{source.Alias}}
            </md-list-item>
            <md-subheader class="md-primary" style="background-color: transparent">Stored Procedure</md-subheader>
            <md-list-item ng-click="setDataSource(source)" ng-repeat="source in SO.product.DataSources | filter: {SourceType : 'P'}">
                {{source.Alias}}
            </md-list-item>
        </md-list>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="closeDialog()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>