<md-sidenav md-component-id="panelData" ng-class="{'md-sidenav-right' : panel.side === 'right', 'md-sidenav-left' : panel.side === 'left'}" class="map-gray-1" md-whiteframe="4" md-is-locked-open="panel.lock" flex>
    <md-toolbar class="">
        <div class="md-toolbar-tools">
            <h2>
                <span>Data Controls</span>
            </h2>
            <span flex></span>
            <!--<md-button class="md-icon-button" aria-label="Menu">
                <md-icon md-svg-icon="assets/icons/lock2.svg"></md-icon>
            </md-button>-->
        </div>
    </md-toolbar>
    <md-fab-toolbar md-direction="left" style="margin-top:-67px;">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary md-no-shadow">
                <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="dock" class="md-icon-button" ng-click="panel.lock = !panel.lock">
                    <!--<md-tooltip md-direction="bottom">
                        Dock Panel
                    </md-tooltip>-->
                    <md-icon md-svg-icon="assets/icons/md-lock-outline.svg"></md-icon>
                </md-button>
                <md-button aria-label="right" class="md-icon-button" ng-click="panel.side = 'right'">
                    <!--<md-tooltip md-direction="bottom">
                        Dock Right
                    </md-tooltip>-->
                    <md-icon md-svg-icon="assets/icons/md-arrow-right.svg"></md-icon>
                </md-button>
                <md-button aria-label="left" class="md-icon-button" ng-click="panel.side = 'left'">
                    <!--<md-tooltip md-direction="bottom">
                        Dock Left
                    </md-tooltip>-->
                    <md-icon md-svg-icon="assets/icons/md-arrow-left.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

    <md-content class="map-gray-1">
        <md-list class="mdo-listitem-padding">
            <md-list-item>
                <p> Aggregate Query </p>
                <md-checkbox class="md-secondary" ng-model="currentCanvas.dataGroups[0].aggregation.enabled"></md-checkbox>
            </md-list-item>
            <md-list-item>
                <p> Paginate Query </p>
                <md-checkbox class="md-secondary" ng-model="currentCanvas.dataGroups[0].pagination.enabled"></md-checkbox>
            </md-list-item>
        </md-list>

        <md-card ng-repeat="selection in currentCanvas.dataGroups[0].selections[0]">
            <md-toolbar style="background-color: transparent;">
                <div class="md-toolbar-tools">
                    <h5>
                        <span>{{selection.name}}</span>
                    </h5>
                    <span flex></span>
                    <md-menu>
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="null">
                                    <md-icon md-svg-icon="assets/icons/md-arrow-up.svg"></md-icon>
                                    Move Data Selection up
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="null">
                                    <md-icon md-svg-icon="assets/icons/md-arrow-down.svg"></md-icon>
                                    Move Data Selection Down
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="null">
                                    <md-icon md-svg-icon="assets/icons/md-functions.svg"></md-icon>
                                    Aggregate Functions
                                </md-button>
                            </md-menu-item>
                            <md-divider></md-divider>
                            <md-menu-item>
                                <md-button ng-click="null">
                                    <md-icon md-svg-icon="assets/icons/md-delete.svg"></md-icon>
                                    Delete Data Selection
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <!--<md-card-content>

                <md-list>
                    <md-list-item>
                        <md-switch ng-model="selection.order" aria-label="Order Switch" ng-true-value="'desc'" ng-false-value="'asc'">
                            Order: {{ selection.order }}
                        </md-switch>
                    </md-list-item>
                    <md-list-item>Aggregate Functions</md-list-item>
                </md-list>

            </md-card-content>-->
        </md-card>

    </md-content>
</md-sidenav>