<md-dialog aria-label="List dialog" style="width: 1000px;">

    <md-toolbar md-scroll-shrink>
        <div ng-show="componentProperties.editType === 'new'" class="md-toolbar-tools">Data Selection</div>
        <div ng-show="componentProperties.editType === 'existing'" class="md-toolbar-tools" style="background-color: rgb(68, 138, 255);">Data Selection</div>
    </md-toolbar>
    <md-dialog-content>

        <section layout="row">
            <div layout="column" flex="45" style="min-height: 350px; padding-left: 15px;">
                <form name="dataSelectionForm">
                    <md-subheader class="md-primary" style="background-color: transparent; margin-left: -15px;">Selection Settings</md-subheader>

                    <div layout="column">
                        <md-input-container>
                            <label>Data Value</label>
                            <md-select md-on-close="selectionChange()" ng-model="newSelection.dataValue" required>
                                <md-option ng-repeat="column in DO.tableSchema" ng-value="column">{{column.COLUMN_NAME}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container style="height: 32px;">
                            <label>Alias</label>
                            <input type="text" ng-model="newSelection.alias" />
                        </md-input-container>
                        <md-list class="md-dense">
                            <md-list-item>
                                <p>Order Results</p>
                                <md-checkbox class="md-secondary" ng-model="newSelection.order"></md-checkbox>
                            </md-list-item>
                            <md-list-item>
                                <p>Select As Function</p>
                                <md-checkbox class="md-secondary" ng-model="newSelection.aggregateFunction"></md-checkbox>
                            </md-list-item>
                        </md-list>
                    </div>

                    <div layout="column">
                        <md-button ng-click="createSelection()" ng-disabled="componentProperties.editObject.selections.length === 0">Create Selection</md-button>
                    </div>
                </form>
            </div>

            <div flex></div>

            <div layout="column" flex="50">
                <md-subheader class="md-primary" style="background-color: transparent; margin-left: -15px;">Levels & Selections</md-subheader>
                <section layout="column">
                    <div layout="row">
                        <md-input-container flex="80">
                            <label>Selection Level</label>
                            <md-select md-on-close="changeSelectionLevel()" ng-model="selectedLevel" style="margin-top: 0; margin-bottom: 0;">
                                <md-option ng-value="level" ng-repeat="level in componentProperties.editObject.selections">Level {{$index + 1}} <span ng-show="componentProperties.editObject.selections[$index][0].dataValue.COLUMN_NAME">[ {{componentProperties.editObject.selections[$index][0].dataValue.COLUMN_NAME}} ]</span></md-option>
                            </md-select>
                        </md-input-container>
                        <div flex></div>
                        <md-button ng-click="addSelectionLevel(componentProperties.editObject.selections.length)" ng-disabled="componentProperties.editObject.selections[selectionIndex].length === 0">Add</md-button>
                        <md-button ng-click="deleteSelectionLevel()" ng-disabled="componentProperties.editObject.selections.length === 0">Remove</md-button>
                    </div>
                    <md-content class="inset" style="background-color: white;">
                        <md-list class="mdo-listitem-padding">
                            <md-list-item class="md-2-line" ng-click="null" ng-repeat="selection in componentProperties.editObject.selections[selectionIndex]">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{selection.alias}}</h3>
                                    <p class="md-primary">{{selection.dataValue.COLUMN_NAME}} <span ng-show="selection.operations.length > 0">[ <span ng-repeat="op in selection.operations">{{op.name}} </span>]</span></p>
                                </div>
                                <md-button class="md-secondary md-icon-button md-seconday-icon-override" ng-click="moveSelectionUp(componentProperties.editObject.selections[selectionIndex], selection, $index)">
                                    <md-tooltip md-direction="bottom">Move Up</md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-arrow-up.svg" aria-label="action"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button md-seconday-icon-override" ng-click="deleteSelection($index)">
                                    <md-tooltip md-direction="bottom">Delete</md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="action"></md-icon>
                                </md-button>
                                <md-divider ng-hide="$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </section>

            </div>
        </section>

    </md-dialog-content>

    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button ng-click="closeDialog()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>