<section layout="row" style="height: calc(100vh - 60px);">
    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'left'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>

    <div flex class="map-gray-3">
        <div layout="column" layout-fill>

            <ng-include src="'core-components/analysis/templates/menuBar.html'"></ng-include>

            <div flex style="padding-top:10px; overflow-y: auto; min-width: 1000px;">
                <!--MAIN CONTENT AREA HERE - GRIDSTER-->
                <div gridster="dataViewOptions">
                    <ul>
                        <li gridster-item="item" ng-repeat="item in dataViewItems" style=" border: 1px solid rgb(150,150,150)">
                            <table>
                                <tr>
                                    <th>Column_5</th>
                                    <th>Column_6</th>
                                    <th>Column_7</th>
                                    <th>Column_8</th>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="map-gray-2">
                <md-tabs md-align-tabs="bottom" class="ink-bar-top">
                    <md-tab ng-repeat="canvas in canvases">{{canvas.name}}</md-tab>
                </md-tabs>
            </div>

        </div>
    </div>

    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'right'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>
</section>