<md-sidenav md-component-id="panelFilters" ng-class="{'md-sidenav-right' : panel.side === 'right', 'md-sidenav-left' : panel.side === 'left'}" class="map-gray-1" md-whiteframe="4" md-is-locked-open="panel.lock" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Filter Controls</h2>
            <span flex></span>
            <md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button aria-label="dock" ng-click="panel.lock = !panel.lock">
                            <md-icon md-svg-icon="assets/icons/md-lock-outline.svg"></md-icon>
                            Dock/Undock Panel
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="panel.side = 'right'">
                            <md-icon md-svg-icon="assets/icons/md-arrow-right.svg"></md-icon>
                            Dock Panel Right
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="panel.side = 'left'">
                            <md-icon md-svg-icon="assets/icons/md-arrow-left.svg"></md-icon>
                            Dock Panel Left
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <md-content class="map-gray-1">

        <div ng-repeat="filter in current.dataGroup.filters[current.selectionIndex]">
            <directive-generator name="{{filter.model.type}}" attributes="{ filter: '$parent.filter', current: '$parent.current'}"></directive-generator>
        </div>
        <div>
            <md-card ng-repeat="tempCard in tempCards">
                <md-toolbar style="background-color: transparent;">
                    <div class="md-toolbar-tools">
                        <h5>{{tempCard.alias}}</h5>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-card-content layout="row" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" style="padding: 0 20px">
            <md-autocomplete md-selected-item="selectedValue"
                             md-search-text="searchText"
                             md-items="value in filterResults(searchText)"
                             md-item-text="value.COLUMN_NAME"
                             md-floating-label="New Filter"
                             md-selected-item-change="valueChanged(value)">
                <md-item-template>{{value.COLUMN_NAME}}</md-item-template>
            </md-autocomplete>
        </div>

    </md-content>
</md-sidenav>