<md-dialog aria-label="List dialog" style="width: 500px;">

    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">Filter [ {{filter.alias}} ]</div>
    </md-toolbar>
    <md-dialog-content>

        <div layout="column" style="min-height: 350px; padding-left: 15px;">
            <form name="dataFilterForm">
                <md-subheader class="md-primary" style="background-color: transparent; margin-left: -15px;">Settings</md-subheader>

                <div layout="column">
                    <md-input-container style="height: 32px;">
                        <label>Data Value</label>
                        <input type="text" ng-model="filter.dataValue.COLUMN_NAME" disabled/>
                    </md-input-container>
                    <md-input-container style="height: 32px;">
                        <label>Alias</label>
                        <input type="text" ng-model="filter.alias" />
                    </md-input-container>
                    <md-input-container>
                        <label>Filter Value Order</label>
                        <md-select md-on-close="orderChange()" ng-model="filter.dataValueOrder">
                            <md-option ng-repeat="option in filterValueOrderOptions" ng-value="option.value">{{option.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <p ng-show="filter.operations.length > 0" style="font-size: 12px; padding-left: 2px; color: gray;">Operations</p>
                    <md-content style="max-height: 200px; background-color: transparent;">
                        <md-list>
                            <md-list-item ng-repeat="operation in filter.operations track by $index">
                                {{operation.name}}
                                <md-button class="md-secondary md-icon-button" ng-click="removeOperation($index)">
                                    <md-tooltip md-direction="clear">Clear Selection</md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="action"></md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-content>
                    <div layout="row">
                        <md-input-container flex="85">
                            <label>Operation</label>
                            <md-select md-on-close="" ng-model="selectedOperation">
                                <md-option ng-repeat="operation in operations" ng-value="operation">{{operation.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button ng-disabled="!selectedOperation" ng-click="addOperation()">Add</md-button>
                    </div>

                </div>

            </form>
        </div>


    </md-dialog-content>

    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button ng-click="closeDialog()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>