<md-sidenav md-component-id="panelFilters" ng-class="{'md-sidenav-right' : panel.side === 'right', 'md-sidenav-left' : panel.side === 'left'}" class="map-gray-1" md-whiteframe="4" md-is-locked-open="panel.lock" flex>
    <md-toolbar>
        <h1 class="md-toolbar-tools">Filters</h1>
    </md-toolbar>
    <md-fab-toolbar md-direction="left" style="margin-top:-67px;">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary md-no-shadow">
                <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="dock" class="md-icon-button" ng-click="panel.lock = !panel.lock">
                    <md-icon md-svg-icon="assets/icons/md-lock-outline.svg"></md-icon>
                </md-button>
                <md-button aria-label="right" class="md-icon-button" ng-click="panel.side = 'right'">
                    <md-icon md-svg-icon="assets/icons/md-arrow-right.svg"></md-icon>
                </md-button>
                <md-button aria-label="left" class="md-icon-button" ng-click="panel.side = 'left'">
                    <md-icon md-svg-icon="assets/icons/md-arrow-left.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>


    <md-content class="map-gray-1">

        <div ng-repeat="filter in current.dataGroup.filters">
            <directive-generator name="{{filter.model.type}}" attributes="{ filter: '$parent.filter'}"></directive-generator>
        </div>

        <!--<div layout="row">
            <span flex></span>
            <md-button class="md-fab md-mini" aria-label="Add">
                <md-icon md-svg-src="assets/icons/md-add.svg"></md-icon>
            </md-button>
        </div>-->

    </md-content>
</md-sidenav>