<section layout="row">
    <md-toolbar class="site-content-toolbar">
        <div class="md-toolbar-tools">
            <md-button href="#/platform-home/product-lines">
                <img src="assets/images/M.svg" style="width:100px;" />
            </md-button>
            <span class="md-toolbar-item md-breadcrumb md-headline">{{name}}</span>

            <md-icon md-svg-src="assets/icons/md-chevron-right.svg" class="breadcrumb-arrow"></md-icon>

            <md-menu>
                <span class="md-toolbar-item md-breadcrumb md-headline" ng-click="$mdOpenMenu($event)">Analysis</span>
                <md-menu-content>
                    <md-menu-item ng-show="showAnalysis()" ng-click="null" style="cursor: pointer">
                        <span class="md-toolbar-item md-breadcrumb md-headline">Analysis</span>
                    </md-menu-item>
                    <md-menu-item ng-click="newState('reporting')" style="cursor: pointer">
                        <span class="md-toolbar-item md-breadcrumb md-headline">Reporting</span>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-icon md-svg-src="assets/icons/md-chevron-right.svg" class="breadcrumb-arrow"></md-icon>

            <md-menu>
                <span class="md-toolbar-item md-breadcrumb md-headline" ng-click="$mdOpenMenu($event)">{{viewName}}</span>
                <md-menu-content>
                    <md-menu-item ng-click="newState('analysis.view', { viewName: 'canvas'})" style="cursor: pointer">
                        <span class="md-toolbar-item md-breadcrumb md-headline">Canvas</span>
                    </md-menu-item>
                    <md-menu-item ng-click="newState('analysis.view', { viewName: 'data'});" style="cursor: pointer">
                        <span class="md-toolbar-item md-breadcrumb md-headline">Data</span>
                    </md-menu-item>
                    <md-menu-item ng-click="newState('analysis.view', { viewName: 'component'});" style="cursor: pointer">
                        <span class="md-toolbar-item md-breadcrumb md-headline">Component</span>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <span flex></span>

            <!--<md-button href="http://localhost:51880/api/download">-->
            <md-button ng-click="sendTestQuery()">
                Test Query
            </md-button>
        </div>
    </md-toolbar>
</section>