<md-card>
    <md-toolbar style="background-color: transparent;">
        <div class="md-toolbar-tools">
            <h5>Patient Cohort</h5>
            <span flex></span>
            <!--<md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="assets/icons/md-menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="moveDataSelectionUp($index)">
                            <md-icon md-svg-icon="assets/icons/md-arrow-up.svg"></md-icon>
                            Move Filter Up
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="moveDataSelectionDown($index)">
                            <md-icon md-svg-icon="assets/icons/md-arrow-down.svg"></md-icon>
                            Move Filter Down
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>-->
        </div>
    </md-toolbar>
    <md-card-content>
        <md-checkbox aria-label="CHUP" ng-model="chup" ng-change="checkedCHUP()"><em>CHUP</em></md-checkbox><br />
        <md-checkbox aria-label="Poly" ng-model="poly" ng-change="checkedPoly()">PolyPharm</md-checkbox>
        <md-checkbox aria-label="High" ng-model="hu" ng-change="checkedHU()">High Utilizer</md-checkbox>
        <md-checkbox aria-label="Pain" ng-model="pain" ng-change="checkedPain()">Pain</md-checkbox>
    </md-card-content>
</md-card>