<md-card>
    <md-card-title>
        <md-card-title-text>
            <div class="md-headline">Patient Cohort</div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-checkbox aria-label="CHUP" ng-model="chup" ng-change="checkAll()"><em>CHUP</em></md-checkbox><br />
        <md-checkbox aria-label="Poly" ng-model="poly" ng-change="allChecked()">PolyPharm</md-checkbox>
        <md-checkbox aria-label="High" ng-model="hu" ng-change="allChecked()">High Utilizer</md-checkbox>
        <md-checkbox aria-label="Pain" ng-model="pain" ng-change="allChecked()">Pain</md-checkbox>
    </md-card-content>
</md-card>