<ng-include src="'core-components/report-viewer/templates/siteToolbar.html'"></ng-include>

<section layout="row" style="height: calc(100vh - 60px); background-color:white;">

    <md-sidenav md-component-id="panelFilters" class="map-gray-1 md-sidenav-left" md-whiteframe="4" md-is-locked-open="true" flex>
        <md-subheader class="md-primary">Reports</md-subheader>
        <md-list class="md-dense" style="background-color:white;">
            <md-list-item ng-click="goReport1()">
                <div>
                    <p>CHUP Aggregate</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="goReport2()">
                <div>
                    <p>CHUP Patient</p>
                </div>
            </md-list-item>
        </md-list>
        <md-subheader class="md-primary">Data Filters</md-subheader>
        <md-content class="map-gray-1">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div class="md-headline">Patient Cohort</div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-checkbox aria-label="CHUP" ng-model="chup" ng-change="checkAll()"><em>CHUP</em></md-checkbox><br />
                    <md-checkbox aria-label="Poly" ng-model="poly" ng-change="allChecked()">PolyPharm</md-checkbox>
                    <md-checkbox aria-label="High" ng-model="hu" ng-change="allChecked()">High Utilizer</md-checkbox>
                    <md-checkbox aria-label="Pain" ng-model="pain" ng-change="allChecked()">Pain</md-checkbox>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div class="md-headline">Month</div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div class="md-headline">Region</div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div class="md-headline">DMIS</div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div class="md-headline">MEPRS</div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </md-content>
    </md-sidenav>

    <div flex class="map-gray-3" style="background-color: white;">
        <div layout="column" layout-fill>

            <ng-include src="'core-components/report-viewer/templates/menuBar.html'"></ng-include>


            <div ng-show="reportValue === 1" flex style="padding-top:10px; overflow-y: auto; min-width: 1000px;">
                <!--MAIN CONTENT AREA HERE - GRIDSTER-->
                <div gridster="gridsterOpts">
                    <ul>
                        <li gridster-item col="1" row="0" size-x="34" size-y="2" style="background-color: #ffffff;">
                            <md-chips ng-model="chipModel" md-autocomplete-snap
                                      md-require-match="true"
                                      md-max-chips="4">
                                <md-autocomplete md-selected-item="ctrl.selectedItem"
                                                 md-search-text="axisData"
                                                 md-items="item in axisData"
                                                 md-item-text="item.name"
                                                 placeholder="Search for chart drilldown">
                                    <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                                        <strong>{{$chip.name}}</strong>
                                        <em>({{$chip.type}})</em>
                                    </span>
                                </md-chip-template>
                            </md-chips>
                        </li>
                        <li gridster-item="element1"
                            style="background-color: #ffffff;">
                            <hc-chart canvas-element="element1" data="data.chart1" series="series1" drill="drillLevel" axis-data="axisData" drill-data="drillData" plot-data="plotData"></hc-chart>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="reportValue === 2" flex style="padding-top:10px; overflow-y: auto; min-width: 1000px;">
                <table>
                    <tr>
                        <td>
                            GRID
                        </td>
                        <td>
                            GRID
                        </td>
                        <td>
                            GRID
                        </td>
                        <td>
                            GRID
                        </td>
                        <td>
                            GRID
                        <td>
                            GRID
                        <td>
                            GRID
                        </td>
                        </td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</section>