<section layout="row" style="height: calc(100vh - 60px);">
    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'left'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>

    <div flex class="map-gray-3">
        <div layout="column" layout-fill>

            <ng-include src="'core-components/metric-dashboard/templates/menuBar.html'"></ng-include>

            <div flex style="padding-top:10px; overflow-y: auto; min-width: 1000px;">
                <!--MAIN CONTENT AREA HERE - GRIDSTER-->
                <div gridster="gridsterOpts">
                    <ul>
                        <li gridster-item="element" ng-repeat="element in currentCanvas.canvasElements" style="background-color: white;">
                            <directive-generator name="{{$parent.element.type}}" attributes="{data: '$parent.group.data.result', element: '$parent.element'}"></directive-generator>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="map-gray-2">
                <md-tabs md-align-tabs="bottom" class="ink-bar-top">
                    <md-tab ng-repeat="canvas in canvases" md-on-select="changeCanvas(canvas)">{{canvas.name}}</md-tab>
                </md-tabs>
            </div>
        </div>
    </div>

    <ng-include ng-repeat="panel in controlPanels | filter : {side: 'right'} : true | orderBy: '-lock'" src="panel.templateUrl" layout="column"></ng-include>
</section>