<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Dashboard Components</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-tooltip md-direction="bottom">
                        Close
                    </md-tooltip>
                    <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width: 800px;">
            <md-tabs md-border-bottom style="min-height: 500px !important;">
                <md-tab label="Canvases">
                    <md-content class="md-padding">

                        <md-list flex>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Canvas 1</h3>
                                    <h4>Data Goup 1, Data Group 2</h4>
                                    <p>New Canvas</p>
                                </div>
                                <md-button class="md-secondary md-icon-button" ng-click="openBottomSheet();">
                                    <md-tooltip md-direction="bottom">
                                        Edit
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-edit.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Duplicate
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-copy.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Delete
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Canvas 2</h3>
                                    <h4>Data Goup1</h4>
                                    <p>Database Report</p>
                                </div>
                                <md-button class="md-secondary md-icon-button" ng-click="showConfirm()">
                                    <md-tooltip md-direction="bottom">
                                        Edit
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-edit.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Duplicate
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-copy.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Delete
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </md-list-item>
                            <md-divider></md-divider>

                        </md-list>


                    </md-content>
                </md-tab>
                <md-tab label="Data Group">
                    <md-content class="md-padding">

                        <md-list flex>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Data Group 1</h3>
                                    <h4>Canvas 1</h4>
                                    <p>Data Source: TeleHealth360</p>
                                </div>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Edit
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-edit.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Duplicate
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-copy.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Delete
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Data Group 2</h3>
                                    <h4>Canvas 1</h4>
                                    <p>Data Source: CHUP</p>
                                </div>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Edit
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-edit.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Duplicate
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-copy.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Delete
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Data Group 1</h3>
                                    <h4>Canvas 2</h4>
                                    <p>Data Source: TeleHealth360</p>
                                </div>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Edit
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-edit.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Duplicate
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-copy.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                                <md-button class="md-secondary md-icon-button">
                                    <md-tooltip md-direction="bottom">
                                        Delete
                                    </md-tooltip>
                                    <md-icon md-svg-src="assets/icons/md-clear.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </md-list-item>

                        </md-list>


                    </md-content>
                </md-tab>
                <md-tab label="Data Selection">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="Data Filters">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="Canvas Elements">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

